.button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border-color: #3c82f6;
  color: white;
  background: #3c82f6;
  font-family: "Inter", "serif";
}
