.input{
    display: flex;
    width: 280px;
    height: 40px;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#71717A;
    border: 1px solid #E4E4E7;
    border-radius: 6px
;
}