.button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  color: #363636;
  background-color: #e5e7eb;
}

.flex{
  display: flex;
  gap: 10px;
}
